
@font-face {
    font-family: 'Hind-Regular';
    src: url('../media/police/Hind-Regular.ttf');
}


*{
    box-sizing: border-box;
    padding: 0;
}

a{
    text-decoration: none;
    color: #DFE5F7;
}

body{
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    background: url(../media/flou.webp) no-repeat center/cover;
    font-size: 0.9rem;
    font-family: Hind-Regular;
    color: #DFE5F7;

    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0.5rem;
    z-index: 999;
    width: 100%;
}

main{
    min-height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

/******************** header *******************************/
.recherche__ville{
    width: 80%;
    display: flex;
    justify-content: center;
}

.recherche__ville__zoneTexte{
    border-right: none;
    border-left: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 0 24px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 60%;
}

.ApiTest {
    background: #243B5E;
    border: none;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    padding: 4px;
    margin: 0px 0px 0px -2px;
    cursor: pointer;
  }

.ApiTest:hover{
    scale: 1.07;
    transition-duration: 0.2s;
}

.ApiTest:disabled{
    background: lightgrey;
    color: #243B5E;
}

.ApiTest:disabled:hover{
    scale: 1;
}

.ApiTest__textIcon{
    display: none;
}

.formError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error{
    font-size: 1.1rem;
    margin: 0.5rem;
}

@media screen and (min-width: 768px){
    .ApiTest__textIcon{
        display: block;
      }
    .ApiTest__icon{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  
    .recherche__ville__zoneTexte, .ApiTest__textIcon, .ApiTest, .error{
        font-size: 1.3rem;
    }  
}
@media screen and (min-width: 1025px){
  
    .recherche__ville__zoneTexte, .ApiTest__textIcon, .ApiTest, .error{
        font-size: 1.5rem;
    }  
}





/******************** section Entete ***********************/
.hautDePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hautDePage__ville{
    font-size: 2.8rem;
}
.hautDePage__degre{
    display: flex;
    flex-direction: row;
}

.hautDePage__degre--style{
    font-size: 5rem;
    font-weight: 700;
}

.hautDePage__degre--operateur{
    padding-top: 1rem;
}

.hautDePage__temps{
    font-size: 1.2rem;
}

.hautDePage__indice{
    color: #DFE5F7;
    background-color: #243B5E;
    font-size: 1rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .hautDePage__ville{
        font-size: 3.1rem;
    }

    .hautDePage__indice{
        font-size: 1.3rem;
    }

    .hautDePage__temps{
        font-size: 1.5rem;
    }

    .hautDePage__degre{
        font-size: 1.3rem;
    }

    .hautDePage__degre--style{
        font-size: 5.3rem;
    }
   
}
@media screen and (min-width: 1025px){
    .hautDePage__ville{
        font-size: 3.3rem;
    }

    .hautDePage__indice{
        font-size: 1.5rem;
    }

    .hautDePage__temps{
        font-size: 1.7rem;
    }

    .hautDePage__degre{
        font-size: 1.5rem;
    }

    .hautDePage__degre--style{
        font-size: 5.5rem;
    }
   
}




/****************** section prevision ******************/

.prevision, .prevision__jours__container, .prevision__titre{
    display: flex;
    align-items: center;
}

.prevision, .prevision__titre{
    justify-content: center;
}

.prevision{
   flex-direction: column;
   margin-top: 2rem;
   margin-bottom: 1rem;
}

.prevision__jours__container{
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(36, 59, 94, 0.5);
    margin-bottom: 0.5rem;
    height: 3rem;
    width: 90vw;
    max-width: 1200px;
    border-radius: 10px;
}

.prevision__titre{
    margin: 0rem auto 1rem auto;
    color: #DFE5F7;
    font-size: 1.5rem;
    margin: 0px 5px -5px 5px;
    background-color: rgba(36, 59, 94, 0.5);
    border: 1px solid white;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    border-radius: 10px 10px 0px 0px;
    border: none;
}

.prevision__titreUn{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .prevision__titreUn{
        font-size: 1.6rem;
    }

    .prevision__jours, .jour__technique, .jour__indice{
        font-size: 1.1rem;
    }
    .prevision__titre{
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1025px){

    .prevision__titreUn{
        font-size: 1.9rem;
    }

    .prevision__jours, .jour__technique, .jour__indice{
        font-size: 1.3rem;
    }
    .prevision__titre{
        font-size: 1.9rem;
    }

}

@media screen and (min-width: 1330px){
    .prevision__titreUn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem auto 0.5rem auto;
        width: 100%;
        color: #DFE5F7;
        font-size: 1.9rem;
        background-color: rgba(36, 59, 94, 0.5);
        padding: 0.5rem 0.5rem 0rem 0.5rem;
        border-radius: 10px 10px 0px 0px;
        border: none;
    }
}

/******************* section jour *********************/

.jour__horaire{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
    max-width: 100vw;
    margin: 5px;
    background-color: rgba(36, 59, 94, 0.5);
    border-radius: 0px 0px 10px 10px;  
    overflow-x: auto;
    overflow-y: hidden;
}

.jour__horaire__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    width: 10rem;
}

.prevision__jours__container--text{
    width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.jour__technique--valeur{
    color: white;
    font-weight: 600;
}

.jour__horaire__container--value{
    max-height: 100%;
    width: 4rem;
    padding: 0.2rem;
    font-size: 0.7rem;
}

.jour__technique{
    background-color: rgba(36, 59, 94, 0.5);
    margin: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.jour__technique--critere, .jour__technique--valeur{
    display: flex;
    justify-content: center;
}



.jour__indice{
    margin-bottom: -2rem;
}

.IQA__btn{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    height: 2rem;
    padding: 0.5rem;
    background-color: #243B5E;
    color: #DFE5F7;
    border-radius: 7px;
    border: none;
    
}

.IQA__btn:hover{
    background-color: rgba(36, 59, 94, 0.5);
    transition-duration: 0.1s;
    color: black;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: rgba(36, 59, 94, 0.8);
    color: #DFE5F7;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  @media screen and (max-width: 320px){
    .jour__technique{
        margin: 0px;
        border-radius: 0px;
    }
  }

  @media screen and (min-width: 870px){
    .jour__horaire{
        justify-content: center;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
   .jour__indice{
    width: 50%;
    margin: auto;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .jour__horaire{
        height: 100%;
    }
    .jour__horaire__container--value{
        font-size: 1rem;
    }
    .jour__technique--critere, .jour__technique--valeur{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1025px){
    .jour__horaire{
        height: 100%;
    }
    .jour__horaire__container--value{
        font-size: 1.1rem;
    }
    .jour__technique--critere, .jour__technique--valeur{
       font-size: 1.3rem;
    }
}

/********************** footer ************************/
footer{
    background-color: rgba(36, 59, 94, 0.5);
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}
.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;
}

.footer_text{
    margin: 0.5rem auto;
}

.footer--linkColor{
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .footer_text{
       font-size: 1.1rem;
    }
}

@media screen and (min-width: 1025px){
    .footer_text{
        font-size: 1.3rem;
    }
}
/******************************************************/
/******************************************************/
/********************** qualite.html ********************/

nav{
    width: 100%;
    margin: -10px;
}

.backHome{
    font-size: 2.5rem;
    margin: 0.5rem 1.5rem;
    width: 100%;
}

.fa-regular:hover{
    rotate: 360deg;
transition-duration: 1s;
}

.iqAreaContainer{
    background-color: rgba(36, 59, 94, 0.5);
    border-radius: 10px;
    padding: 1rem;
} 

.iqArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.aqiDetail{
    border: 1px solid white;
    width: 6rem;
}

.iqa__value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    padding: 8px;
}
  
th {
    background-color: #4CAF50;
    color: white;
}


@media screen and (max-width: 320px){

    .backHome{
        font-size: 1.5rem;
        margin: 0.2rem 0.5rem;
    }

    .iqAreaContainer{
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (min-width: 321px) and (max-width: 425px){
    .backHome{
        font-size: 2rem;
        margin: 0.5rem 1rem;
    }
    .iqAreaContainer{
        border-radius: 10px;
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }
}

@media screen and (min-width: 425px) {
    .iqAreaContainer{
        background-color: rgba(36, 59, 94, 0.5);
        border-radius: 10px;
        padding: 1rem;
        width: 80%;
        margin: auto;
    } 
}

@media screen and (max-width: 768px) {
    table {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .nom{
        background-color: #4CAF50;
        color: white;
    }

    .nom::before{
        content: "IQA : ";
        white-space: pre;
    }

    .indice::before{
        content: "Indice : ";
        white-space: pre;
    }

    .so2::before{
        content: "SO2 : ";
        white-space: pre;
    }

    .no2::before{
        content: "NO2 : ";
        white-space: pre;
    }
    
    .pm10::before{
        content: "PM10 : ";
        white-space: pre;
    }

    .pm2::before{
        content: "PM2.5 : ";
        white-space: pre;
    }

    .o3::before{
        content: "O3 : ";
        white-space: pre;
    }

    .co::before{
        content: "CO : ";
        white-space: pre;
    }

    table thead {
        display: none;
      }
  
    tbody, tr, td, th {
      display: block;
    }
  
    tr {
      border: none;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
    }
  
    td {
      border-bottom: 1px solid black;
    }
  
    td:before {
      content: attr(data-title);
      float: left;
      font-weight: bold;
    }
}

@media screen and (min-width: 769px) {
    .iqAreaContainer{
        width: 70%;
        overflow: hidden;
        position: absolute; 
        left: 50%;
        top: 50%; 
        transform: translate(-50%, -50%);    
    } 
}
  