@font-face {
    font-family: 'Hind-Regular';
    src: url('../media/police/Hind-Regular.ttf');
}


*{
    box-sizing: border-box;
    padding: 0;
}


body{
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    height: 100%;
    background: url(../media/nuageux.webp) no-repeat center/cover;
    font-size: 0.9rem;
    font-family: Hind-Regular;
    color: #DFE5F7;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0.5rem;
    z-index: 999;
}

main{
    min-height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

/******************** section Entete ***********************/
.hautDePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hautDePage__ville{
    font-size: 1.5rem;
}
.hautDePage__degre{
    display: flex;
    flex-direction: row;
}

.hautDePage__degre--style{
    font-size: 5rem;
    font-weight: 700;
}

.hautDePage__degre--operateur{
    padding-top: 1rem;
}

.hautDePage__temps{
    font-size: 0.8rem;
}

.hautDePage__indice{
    color: #DFE5F7;
    background-color: #243B5E;
    font-size: 0.7rem;
    border: 1px solid white;
    padding: 0.2rem;
    
}


/****************** section prevision ******************/
.prevision{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
   margin-bottom: 1rem;
}

.prevision__jours__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(36, 59, 94, 0.5);
    min-width: 100vw;
    margin-bottom: 0.5rem;
    height: 3rem;
}

.prevision__titre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem auto 1rem auto;
    color: #DFE5F7;
    width: 80%;
    background-color: #243B5E;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
}

/******************* section jour *********************/
.jour__horaire{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    max-width: 100vw;
    margin: auto;
    height: 7rem;
    background-color: rgba(36, 59, 94, 0.5);
    border-radius: 10px;  
    overflow-x: auto;
    overflow-y: hidden;
}

.jour__horaire__container{
    margin: 1rem;
}

.jour__horaire__container--value{
    max-height: 100%;
    font-size: 0.8rem;
}

.jour__technique{
    background-color: rgba(36, 59, 94, 0.5);
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.jour__indice{
    margin-bottom: -2rem;
}

.IQA__btn{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    height: 2rem;
    padding: 0.5rem;
    background-color: #243B5E;
    color: #DFE5F7;
    border-radius: 4px;
    border: none;
    
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: rgba(36, 59, 94, 0.8);
    color: #DFE5F7;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/********************** footer ************************/
footer{
    background-color: rgba(36, 59, 94, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}